@charset "UTF-8";
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	text-decoration: none;
	color: black;
	font-family: 'KoPubDotumMedium', sans-serif;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-content {
	position: relative;
	margin: 0 auto;
	width: 500px;
	height: 600px;
	background-color: #3B6FCC;
	border-radius: 10px;
	border: 2px solid black;
}
.content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.title {
	color: #ffffff;
}
/* 긴 버튼 */
.long-button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:10px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.long-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.long-button:active {
	position:relative;
	top:1px;
}

.long-form {
	width: 300px;
	height: 35px;
	border-radius: 10px;
	margin: 5px 0;
}

.menu-button {
	box-shadow: 0px 1px 0px 0px #1564ad;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:10px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
	margin: 5px;
}
.menu-button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}
.menu-button:active {
	position:relative;
	top:1px;
}

.system-content {
	background-color: #ffffff;
	width: 480px;
	height: 480px;
	border-radius: 10px;
}

.menu-button2 {
	box-shadow: 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:10px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.menu-button2:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.menu-button2:active {
	position:relative;
	top:1px;
}


table {
	border-top: 2px solid gray;
}
th, td {
	border-bottom: 1px solid gray;
	padding: 2px;
}